@media all{
body {

  background-image: url("https://i.pinimg.com/564x/2e/65/48/2e65483ac7eb3907638c0df7a7b0c9aa.jpg");
  background-position: center;
  padding-left:100px;
  
  background-repeat: no-repeat;
  background-attachment:fixed;
  background-color: #cccccc;
  background-size:cover;
  
}}

	@media all{
h1{
	
background-color:gray;
background-image:url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTrLQJ79R8FqwPP1tR9aVSQ0WIMNChjo23vcQ&usqp=CAU");
color:white;
font-size:35px;
text-align: center;
border:50px solid gray;
width:4px;

 
}}
@media all{
h2{
	
	color:white;
	font-size:24px;
	font-family:tahoma;
	font-style:italic;
width:500px;
border:solid 5px gray;

margin:50px 70px 30px 0px;
}}
@media all{
ul{
background: rgba(255,255,255,0.4);
height:55px;
width:100%;
position:relative;
}}
@media all{
 ul{list-style: none;}
ul li{
float: right;
position: relative;
}}
@media all{
ul li {
color:white;
line-height: 55px;
font-family:  arial,tahoma;
font-size: 17px;
padding-right: 20px;
padding-left: 20px;
text-align: center;
display: block;
text-decoration:none;
font-weight:bold;
-moz-transition:all .3s ease-in-out;-webkit-transition:all .3s ease-in-out;transition:all .3s ease-in-out;
}}
@media all{
ul li:hover{
color:#000;
}}
@media all{
img{
float:right;clear:right;margin-left:20px;
}}
@media all{
h3{
	color:black;
	font-size:80px;
	font-family: 'Yeseva One', cursive;
}}
@media all{
#wrap{
	margin:0 auto;
text-align:left;
}}
@media all{
#npara{
	
	height:350px;
	padding:50px;
	margin:50px 30px 30px 0px;
}}
@media all{
.redColor{
	color: red;
}}
@media all{
.text_para{
	
	background:rgba(255,255,255,0.4);
	color:black;
	font-size:19px;
font-family: 'Architects Daughter', cursive;
position:relative;
margin:50px 30px 30px 0px;
}
@media all{

.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color:rgba(255,255,255,0.4) ;
   color: white;
   text-align: center;
}
}}

